---
const experience = [
  {
    company: "Aurora Innovation",
    role: "Software Engineer II",
    date: "June 2022 - Present",
    description:
      "Developed an internal tool using React, TypeScript, and Node.js to analyze millions of AI simulations daily.",
  },
  {
    company: "Amazon Web Services",
    role: "Software Engineer",
    date: "April 2021 - June 2022",
    description:
      "Developed fullstack cloud native applications for AWS customers using Angular, React, TypeScript, Python, PostgreSQL and AWS services.",
  },
  {
    company: "Amazon Web Services",
    role: "Technical Account Manager",
    date: "May 2020 - April 2021",
    description:
      "Developed internal tools for Technical Account Managers and interacted with AWS customers on a daily basis to create solutions for existing problems.",
  },
  {
    company: "SHI International Corp",
    role: "Software Engineer",
    date: "September 2018 - May 2020",
    description:
      "Developed responsive cloud native web applications using Angular, Node.js, MySQL and AWS for SHI customers.",
  },
];
---

{
  experience.map((e) => (
    <div>
      <div class="flex flex-row justify-between">
        <p class="font-bold">{e.company}</p>
        <p class="font-light">{e.date}</p>
      </div>
      <i>{e.role}</i>
      <p>{e.description}</p>
    </div>
  ))
}
