<div class="flex flex-row items-center gap-4">
  <a href="https://www.linkedin.com/in/sean-griffin-610207118/">Linkedin</a>
  /
  <a href="https://github.com/sgriff96">Github</a>
  /
  <a href="mailto:sean@sgriffin.io">Email</a>
</div>
