---
import type { ILink } from "../types/Link";
import Link from "./Link.astro";

interface Props {
  links: ILink[];
}
const { links } = Astro.props;
---

<div class="flex flex-row items-center gap-2">
  {
    links.map((link, i) => {
      return (
        <>
          <Link {...link} />{" "}
          {i !== links.length - 1 && <span class="text-sm">&nbsp;/&nbsp;</span>}
        </>
      );
    })
  }
</div>
