---
const { title, description, url } = Astro.props;
---

<div
  class="border border-emerald-50 p-4 rounded-xl bg-emerald-900 hover:-translate-y-1 transition-all duration-200"
>
  <h3>{title}</h3>
  <p>{description}</p>
</div>
