---
import ProjectCard from "./ProjectCard.astro";

type Project = {
  label: string;
  github: string;
  url?: string;
  description: string;
};

const projects: Project[] = [
  {
    label: "Memmy",
    github: "https://github.com/Memmy-App/memmy",
    description:
      "A React Native mobile client for Lemmy, a federated link aggregator inspired by Reddit.",
  },
  {
    label: "Momentum",
    github: "https://github.com/sgriff96/momentum",
    url: "https://momentum.sgriffin.dev",
    description:
      "A habit tracking web application built with SvelteKit, with a focus on the momentum of buiding habits rather than streaks.",
  },
];
---

<div class="flex flex-col gap-4">
  {
    projects.map((p) => {
      return (
        <ProjectCard
          title={p.label}
          github={p.github}
          url={p.url}
          description={p.description}
        />
      );
    })
  }
</div>
