---
import ProjectCard from "./ProjectCard.astro";

const projects = [
  {
    label: "Memmy",
    url: "https://github.com/Memmy-App/memmy",
    description:
      "Lorem ipsum dolor sit, amet consectetur adipisicing elit. Non, explicabo deleniti doloribus tenetur quia ipsa quas, molestiae obcaecati hic aliquid laudantium odio voluptates praesentium? Possimus incidunt iste perspiciatis earum. Ut.",
  },
  {
    label: "Momentum",
    url: "https://github.com/sgriff96/momentum",
    description:
      "Lorem ipsum dolor sit, amet consectetur adipisicing elit. Non, explicabo deleniti doloribus tenetur quia ipsa quas, molestiae obcaecati hic aliquid laudantium odio voluptates praesentium? Possimus incidunt iste perspiciatis earum. Ut.",
  },
];
---

<div class="flex flex-col gap-4">
  {
    projects.map((p) => {
      return (
        <ProjectCard title={p.label} url={p.url} description={p.description} />
      );
    })
  }
</div>
